table.list {
    border-collapse: collapse;
    background-color: #EEEEEE;
    border: 1px solid black;
}

tr.list_header {
    background-color: gray;
    color: white;
}

td {
    font-family: Tahoma;
    font-size: 12px;
}

p {
    font-family: Tahoma;
    font-size: 12px;
}
